header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
  .header {
    display: flex;
    gap: 50px;
    width: 1400px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    font-size: 22px;
  }

  h2 {
    font-size: 100px;
  }
}
